<div class="container flex justify-center gap-4 mt-5">
  <a routerLink="/planets">
    <div class="
    planets w-[300px] h-[400px] bg-blue-200 text-center text-4xl text-white flex items-end justify-center hover:shadow-2xl duration-200
">
      <span class="mb-5">Planets</span>
    </div>
  </a>
  <a routerLink="/characters">
    <div class="
    characters w-[300px] h-[400px] bg-blue-200 text-center text-4xl text-white flex items-end justify-center hover:shadow-2xl duration-200
">
      <span class="mb-5">Characters</span>
    </div>
  </a>
</div>
