.planets {
  background-image: url("../../../assets/img/sw-planets.png");
  background-size: cover;
}
.characters {
  background-image: url("../../../assets/img/sw-characters.png");
  background-size: cover;
}

