<div>
  <h2 class="text-3xl text-center my-4">Characters</h2>

  <div *ngIf="!loading" class="flex flex-wrap justify-center gap-4">
    <app-resident-card
      *ngFor="let person of people; trackBy: peopleTrackBy"
      [resident]="person"
      class="w-1/5"
    />
  </div>

  <loading-message *ngIf="loading"></loading-message>

  <div class="pagination my-4 flex flex-col justify-center items-center">
    <div class="pagination__title">Page {{currentPage}}</div>
    <div class="pagination__buttons">
      <app-page-button innerText="Prev page" [clickAction]="prevPage" [disabled]="isFirstPage"/>
      <app-page-button innerText="Next page" [clickAction]="nextPage" [disabled]="isLastPage"/>
    </div>
  </div>

</div>
