<nav class="flex gap-3 justify-center bg-blue-400 p-3">
<!--  <a class="p-3 text-xl text-white hover:text-gray-300 duration-300 hover:bg-blue-500" routerLink="/">Main</a>-->
<!--  <a class="p-3 text-xl text-white hover:text-gray-300 duration-300 hover:bg-blue-500" routerLink="/planets">Planets</a>-->
  <app-navigation-link link="/">Main</app-navigation-link>
  <app-navigation-link link="/planets">Planets</app-navigation-link>
  <app-navigation-link link="/characters">Characters</app-navigation-link>
</nav>
